<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyq.mapper.ArticleLabelMapper">

    <!-- 批量插入 -->
    <insert id="insertBatch">
        INSERT INTO article_label (article_id, label_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.articleId}, #{item.labelId})
        </foreach>
    </insert>
    <delete id="deleteBatch">
        DELETE FROM article_label
        WHERE article_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
